singularity.enabled = false
singularity.autoMounts = false

docker.enabled = true
process.container = 'haniffalab/vitessce-pipeline:0.0.1'

// see https://www.nextflow.io/docs/latest/config.html#scope-aws
aws {
  accessKey = '[YOUR-ACCESS-KEY]'
  secretKey = '[YOUR-SECRET-KEY]'
  client {
        endpoint = 'https://cog.sanger.ac.uk'
        signerOverride = "S3SignerType"
  }
}
