profiles {

  conda {
    executor = 'local'
    singularity.enabled = false
    docker.enabled = false
    conda.enabled = true
  }

  docker {
    executor = 'local'
    singularity.enabled = false
    singularity.autoMounts = false

    docker.enabled = true
    process.container = 'haniffalab/webatlas-pipeline:0.3.2'
  }

  sanger_lsf {
    singularity.enabled = true
    singularity.autoMounts = false
    process.container = 'haniffalab/webatlas-pipeline:0.3.2'

    docker.enabled = false
    singularity {
        enabled = true
        autoMounts = false
        runOptions = '--bind /lustre --bind /nfs --cleanenv --home /tmp'
    }
    executor {
        name = 'lsf'
        perJobMemLimit = true
        container = '/lustre/scratch127/cellgen/cellgeni/tickets/tic-2248/actions/docker--haniffalab--vitessce-pipeline--0.0.1.sif'
        jobName = { "$task.hash" }
        queue = 'imaging'
    }
  }
}

process {

    withName: image_to_zarr {
	conda = '/opt/conda/envs/webatlas-0.3.2'
        memory = 20.GB
        cpus = 4
    }

    withName: ome_zarr_metadata {
	conda = '/opt/conda/envs/webatlas-0.3.2'
        memory = 2.GB
        cpus = 1
    }

    withName: route_file {
	conda = '/opt/conda/envs/webatlas-0.3.2'
        memory = 4.GB
        cpus = 1
    }

    withName: Build_config {
	conda = '/opt/conda/envs/webatlas-0.3.2'
        memory = 2.GB
        cpus = 1
    }

    withName: Generate_image {
	conda = '/opt/conda/envs/webatlas-0.3.2'
        memory = 20.GB
        cpus = 4
    }
}

timeline {
    enable = true
}

// see https://www.nextflow.io/docs/latest/config.html#scope-aws
aws {
  accessKey = '[YOUR-ACCESS-KEY]'
  secretKey = '[YOUR-SECRET-KEY]'
  client {
        endpoint = 'https://cog.sanger.ac.uk'
        signerOverride = "S3SignerType"
  }
}
