profiles {

  conda { 
    conda.enabled = true
    process {
      conda = "$projectDir/envs/environment.yaml"
      withLabel: build_config {
        conda = "$projectDir/envs/build_config/environment.yaml"
      }
    }
  }

  docker { 
    docker.enabled = true
    process {
      container = 'haniffalab/webatlas-pipeline:0.5.2'
      withLabel: build_config {
        container = 'haniffalab/webatlas-pipeline-build-config:0.5.2'
      }
    }
  }
  
  singularity { 
    singularity.enabled = true
    singularity.autoMounts = true
    process {
      container = 'haniffalab/webatlas-pipeline:0.5.2'
      withLabel: build_config {
        container = 'haniffalab/webatlas-pipeline-build-config:0.5.2'
      }
    }
  }

}